# Mercado Pago
MP_ACCESS_TOKEN=
MP_PUBLIC_KEY=

# Opcional para front apontar para API
# Exemplo: http://127.0.0.1:8000
BACKEND_BASE_URL=

# URL do frontend para retorno OAuth
FRONTEND_URL=http://127.0.0.1:5500/cliente.html

# Em produção use false para aceitar apenas OAuth real
AUTH_ALLOW_QUICK_FALLBACK=true

# OAuth Google
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://127.0.0.1:8000/api/auth/google/callback
